.card {
  display: inline-block;
  text-align: center;
  width: 1em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
  color: bisque;
  font-family: sans-serif;
  border-radius: 5px;
  border: 10px solid palevioletred;
  padding: 1.2em 1.5em;
   }
 .activeCard {
  text-align: center;
  color : floralwhite;
  background :darkcyan;
  border: 10px solid blue;
  font-family: sans-serif;
  border-radius: 3px;
  border: 2px solid rgb(6, 218, 87);
 } 
 .item{
   text-align-last: center;
  text-align: center;
  color : darkblue;
  background : rgb(126, 124, 122);
  border: 3px solid blue;
  font-family: sans-serif;
  border-radius: 3px;
  font-size: 2em;
 }
 .pim{
  background: saddlebrown;
 text-align: center;
 border: 3px;
 font-family: sans-serif;
 background: transparent;
 padding: 0.25em 1em;
  }
  .pae{
    background: saddlebrown;
   text-align: center;
   border: 3px;
   font-family: sans-serif;
   background: transparent;
   padding: 0.25em 1em;
    }
  .gooss{
   background: saddlebrown;
  text-align: right;
  border: 3px;
  color: brown;
  font-family: fantasy;
  background: transparent;
  padding: 0.25em 1em;
   }
   .deed {
     text-align: center;
     color : green;
     background :saddlebrown;
     border: 10px solid blue;
     font-family: sans-serif;
     border-radius: 3px;
     font-family: sans-serif;
     display: inline-block;
     font-size: 5em;
    } 
    .poppp{
     background: saddlebrown;
    text-align: right;
    border: 6px  solid darkcyan;
    color: goldenrod;
    font-family: Lucida Sans;
    background: transparent;
    padding: 0.25em 1em;
    font-size: 2em;
     }
